<!-- START HOME -->
		<section data-stellar-background-ratio="0.3" id="home" class="home-parallax"  style="background-image: url(img/bg/this.jpg);  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="hero-text pt250">
							<h2>Welcome to Kenya Education Cloud</h2>
							 <p>KEC brings you their resources online!</p>
							 <div class="home_btn">
								<a href="#feature" class="app-btn wow bounceIn page-scroll" data-wow-delay=".2s" >Learn more</a>
								<a href="#contact" class="app-btn wow bounceIn page-scroll" data-wow-delay=".4s" >Get in Touch</a>
							</div>
						 </div> 
					</div><!-- END COL-->
					
				</div><!-- END ROW-->
			</div><!-- END CONTAINER-->
		</section>
		<!-- END  HOME DESIGN -->
		<!-- START FEATURE -->
		<section id="feature" class="feature-content">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-delay=".1s">
						<div class="single_feature">
							<i class="fa fa-file"></i>
							<h4 style="color:#e41721;">Content Management</h4>
							<p>The Content Management Service will be used to take content through the curation process where it starts from a publisher registers and uploads their content (Audio, Video, PDF document, HTML5 Interactive content).</p>
						</div>
					</div><!-- END COL-->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-delay=".2s">
						<div class="single_feature">
							<i class="fa fa-check-square"></i>
							<h4 style="color:#e41721;">Legal Approval</h4>
							<p>The content is made available to curation process and it begins from the legal verification process where a legal officer validates the content. After legal approval, the content is then checked by a finance officer for payment compliance.</p>
						</div>
					</div><!-- END COL-->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-delay=".3s">
						<div class="single_feature">
							<i class="fa fa-refresh"></i>
							<h4 style="color:#e41721;">Actual Curation</h4>
							<p>After financial approval, the actual curation process starts by categorization of the content in to the different official types (Content type, Content category/Subject, Content sub-category/class).</p>
						</div>
					</div><!-- END COL-->

				</div><!-- END ROW-->
				<div class="row text-center">
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-delay=".4s">
						<div class="single_feature">
							<i class="fa fa-address-card"></i>
							<h4 style="color:#e41721;">Assigning Curators</h4>
							<p>The owner of this stage is the principal curator. Chief curators are then assigned content per the subject that they are heads of. The Chief curator is the owner of a subject. He/ She assigns content to Curators to commence the curation process</p>
						</div>
					</div><!-- END COL-->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-delay=".5s">
						<div class="single_feature">
							<i class="fa fa-cogs"></i>
							<h4 style="color:#e41721;">Main Curation</h4>
							<p>Depending on the content quantity, it is divided between a few curators to hasten the curation process without jeopardizing it. The curation process involves the content curators going through the content assigned to them and creating notes and comments based on their review</p>
						</div>
					</div><!-- END COL-->
					<div class="col-md-4 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-delay=".6s">
						<div class="single_feature">
							<i class="fa fa-sticky-note"></i>
							<h4 style="color:#e41721;">Review and Conclusion</h4>
							<p>The reviews are submitted to the chief curator in charge of the subject who also gives their own feedback and review. The content feedback is further submitted to the principal curator reviews all the feedback from curators and chief curators then they give their feedback and approval status. This feedback is given back to content publisher for further action</p>
						</div>
					</div><!-- END COL-->
					
				</div><!-- END ROW-->
			</div><!-- END CONTAINER-->
		</section>
		<!-- END FEATURE -->
		<!-- START OFFER -->
		
		<!-- END OFFER -->
		<!-- START ABOUT US -->	
		<section id="about" class="about-us section-padding" style="background-color: #00af57; ">
			<div class="container">
				<div class="row">	
					<div class="section-title text-center">
						<h2 style="color: white;">Licence Management System</h2>
					</div>	
					<div class="col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
						<div class="about-us-content">
							<p  style="color: white; font-weight: bold;">License Management ServiceThis is part of KEC that is tasked with the implementing content ownership rights, IP Protection and content licensing. This system is where Digital Rights Management will be implemented on the content. The way it is envisioned to work is that, the LMP picks the approved content and stores it in a content repository in the cloud and applies DRM protection to it. The content is then assigned a license number that will uniquely identify the content on the platform.</p>
						</div>
						
					</div><!-- END COL -->
					
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END ABOUT US -->
		<!-- START COMPANY QUALITY -->
		<section class="company_details section-padding" id="ecommerce">
			<div class="container">
				<div class="row">							
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
						<div class="single_company_img">
							
								<img src="~/img/cart-green.png" class="img-responsive"  alt="About-Slide">
									
						</div>
					</div><!-- END COL -->
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
						<div class="company_quality">
							<h4 >E-Commerce Service</h4>
							<p>The ecommerce Service is part of the KEC that avails content to the public for purchase. The Service will list content available for purchase (both physical and digital content) this part of the KEC will enable the public to make purchases against curated content and provide information on where the content will be delivered (digitally or physically).</p>
							
						</div>
					</div><!-- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END COMPANY QUALITY -->
		
		<!-- PROMOTION -->
		<section class="buy_now" id="voucher">
			<div class="container text-center wow bounceInUp" data-wow-delay=".1s">
			<div class="row">							
					
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
						<div class="company_quality">
							<h4 style="color: white; font-weight: bold;">Voucher Management</h4>
							<p style="color: white; font-weight: bold;">The voucher Management Service is part of the KEC that will perform the function of voucher issuance and management. This is in line with the execution of the Government’s Capitation grant program that is to be used to support institutions in purchasing study materials. The Service is to be used to issue, split, process and claim vouchers.moving divide heaven. I him great seasons may days herb Lights. </p>
							
						</div>
					</div><!-- END COL -->
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
						<div class="single_company_img">
							
								<img src="~/img/voucher-managemnt.png" style="float: right;" class="img-responsive"  alt="About-Slide">
									
						</div>
					</div><!-- END COL -->
				</div><!--- END ROW -->
				
			</div><!--- END CONTAINER -->
		</section>
		<!-- END PROMOTION -->	

		<!-- START COMPANY QUALITY -->
		<section class="company_details section-padding" id="digital" style="background-color: #00af57;">
			<div class="container">
				<div class="row">							
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
						<div class="single_company_img">
							
								<img src="~/img/digital-content.png" class="img-responsive"  alt="About-Slide">
									
						</div>
					</div><!-- END COL -->
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
						<div class="company_quality">
							<h4 style="color: white; font-weight: bold;">Digital Content Reader App</h4>
							<p style="color: white; font-weight: bold;">This is one of the delivery parts of the KEC. This is an application that is installed in to the education devices and it is used to access education content that have been purchased from the e-commerce Service and available through the content library.</p>
							
						</div>
					</div><!-- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END COMPANY QUALITY -->
		<!-- START COMPANY QUALITY -->
		<section class="company_details section-padding" id="content">
			<div class="container">
				<div class="row">							
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
						<div class="company_quality">
							<h4 >Content Fulfillment App</h4>
							<p>This is an application that is used to track/ actualize the fulfillment process of physical books.</p>
							
						</div>
					</div><!-- END COL -->
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
						<div class="single_company_img">
							
								<img src="~/img/content-fulfillment-black.png" style="float: right;" class="img-responsive"  alt="About-Slide">
									
						</div>
					</div><!-- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END COMPANY QUALITY -->
		
		<!-- START RESPONSIVE PROMOTION -->	
		<section class="responsive_device section-padding" id="distribution" style="background-color: black;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
						<div class="device_img">
							 <img src="~/img/book-distribution.png" style="float: left;" class="img-responsive" alt="" />
						</div>
					</div><!--- END COL -->		
					<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
						<div class="device_responsive">
							<h3 style="color: white; font-weight: bold;">Book Distribution</h3>
							<p style="color: white; font-weight: bold;">This is part of the KEC that handles the distribution of physical books that have been purchased via the E-commerce Service. This is also the facet that will contain the order fulfillment and dispatch management service.</p>
						</div>
					</div><!--- END COL -->					
								
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END RESPONSIVE PROMOTION -->